@font-face {
  font-family: 'Avenir Next Cyr';
  src: url('../fonts/') format('woff2'),
      url('../fonts/AvenirNextCyr-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

