@font-face {
  font-family: 'Avenir Next Cyr';
  src: url('../fonts/AvenirNextCyr-Regular.woff2') format('woff2'),
      url('../fonts/AvenirNextCyr-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeueRegular.woff2') format('woff2'),
        url('../fonts/BebasNeueRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'Bebas Neue Book';
  src: url('../fonts/BebasNeueBook.woff2') format('woff2'),
      url('../fonts/BebasNeueBook.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeueBold.woff2') format('woff2'),
        url('../fonts/BebasNeueBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
  font-family: 'Avenir Next Cyr';
  src: url('../fonts/AvenirNextCyr-Medium.woff2') format('woff2'),
      url('../fonts/AvenirNextCyr-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next Cyr';
  src: url('../fonts/AvenirNextCyr-Bold.woff2') format('woff2'),
      url('../fonts/AvenirNextCyr-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

